<template>
  <div>
    <section>
      <b-field grouped group-multiline>
        <b-select v-model="model" placeholder="Select a dataset">
          <option
            v-for="option in dataSets"
            :key="option.name"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
        <b-select v-if="model === 'perf'" v-model="level" animation="fadeInUp" placeholder="Select a dataset">
          <option
            v-for="option in performanceLevels"
            :key="option.name"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>

      <b-table
        :data="isEmpty ? [] : datasetSelected"
        :bordered="isBordered"
        :striped="isStriped"
        :narrowed="isNarrowed"
        :hoverable="isHoverable"
        :loading="isLoading"
        :focusable="isFocusable"
        :mobile-cards="hasMobileCards"
      >
        <template slot-scope="props">
          <b-table-column field="race" label="Race or Ethnicity">
            {{ props.row.race }}
          </b-table-column>

          <b-table-column field="male" label="Male">
            {{ props.row.male }}
          </b-table-column>

          <b-table-column field="female" label="Female">
            {{ props.row.female }}
          </b-table-column>

          <b-table-column field="speced" label="Students with Disabilities">
            {{ props.row.speced }}
          </b-table-column>

          <b-table-column field="nspeced" label="Students without Disabilities">
            {{ props.row.nspeced }}
          </b-table-column>

          <b-table-column field="el" label="English Learners">
            {{ props.row.el }}
          </b-table-column>

          <b-table-column field="nel" label="Non-English Learners">
            {{ props.row.nel }}
          </b-table-column>
        </template>

        <template slot="empty">
          <section class="section">
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large"
                />
              </p>
              <p>Nothing here.</p>
            </div>
          </section>
        </template>
      </b-table>
    </section>
    <section class="section">
      <b-field grouped group-multiline>
        <div class="control">
          <b-switch v-model="isBordered">
            Bordered
          </b-switch>
        </div>
        <div class="control">
          <b-switch v-model="isStriped">
            Striped
          </b-switch>
        </div>
        <div class="control">
          <b-switch v-model="isNarrowed">
            Narrowed
          </b-switch>
        </div>
        <div class="control">
          <b-switch v-model="isHoverable">
            Hoverable
          </b-switch>
        </div>
        <div class="control">
          <b-switch v-model="isEmpty">
            Empty
          </b-switch>
        </div>
        <div class="control">
          <b-switch v-model="hasMobileCards">
            Mobile cards <small>(collapsed rows)</small>
          </b-switch>
        </div>
      </b-field>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    const dataSets = [
      { 'name': 'Performance', 'value': 'perf' },
      { 'name': 'Proficiency', 'value': 'prof' },
      { 'name': 'Growth', 'value': 'growth' }
    ]
    const performanceLevels = [
      { 'name': 'Level 1', 'value': 'levelOne' },
      { 'name': 'Level 2', 'value': 'levelTwo' },
      { 'name': 'Level 3', 'value': 'levelThree' },
      { 'name': 'Level 4', 'value': 'levelFour' },
      { 'name': 'Level 5', 'value': 'levelFive' }
    ]
    const proficiencyData = [
      { 'id': 1, 'race': 'White', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Black or African American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Hispanic or Latino', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Hawaiian or Pacific Islander', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Asian', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 7, 'race': 'Alaskan Native or Native American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 }
    ]
    const performanceDataOne = [
      { 'id': 1, 'race': 'White', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 2, 'race': 'Black or African American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Latino or Hispanic', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Alaskan Native or Native American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Asian', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Hawaiian or Pacific Islander', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 }
    ]
    const performanceDataTwo = [
      { 'id': 1, 'race': 'White', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Black or African American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Hispanic or Latino', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Hawaiian or Pacific Islander', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Asian', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 7, 'race': 'Alaskan Native or Native American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 }
    ]
    const performanceDataThree = [
      { 'id': 1, 'race': 'White', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 2, 'race': 'Black or African American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Latino or Hispanic', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Alaskan Native or Native American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Asian', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Hawaiian or Pacific Islander', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 }
    ]
    const performanceDataFour = [
      { 'id': 1, 'race': 'White', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Black or African American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Hispanic or Latino', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Hawaiian or Pacific Islander', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Asian', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 7, 'race': 'Alaskan Native or Native American', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 }
    ]
    const performanceDataFive = [
      { 'id': 1, 'race': 'White', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 2, 'race': 'Black or African American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 3, 'race': 'Latino or Hispanic', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 4, 'race': 'Alaskan Native or Native American', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 },
      { 'id': 5, 'race': 'Asian', 'male': 78, 'female': 27, 'speced': 80, 'nspeced': 92, 'el': 59, 'nel': 77 },
      { 'id': 6, 'race': 'Hawaiian or Pacific Islander', 'male': 40, 'female': 87, 'speced': 92, 'nspeced': 78, 'el': 27, 'nel': 80 }
    ]

    return {
      performanceDataOne,
      performanceDataTwo,
      performanceDataThree,
      performanceDataFour,
      performanceDataFive,
      performanceLevels,
      proficiencyData,
      dataSets,
      model: null,
      level: 'levelOne',
      isEmpty: false,
      isBordered: false,
      isStriped: false,
      isNarrowed: true,
      isHoverable: false,
      isFocusable: false,
      isLoading: false,
      hasMobileCards: true
    }
  },
  computed: {
    datasetSelected() {
      if (this.model === 'prof') return this.proficiencyData
      if (this.model === 'perf' && this.level === 'levelOne') return this.performanceDataOne
      if (this.model === 'perf' && this.level === 'levelTwo') return this.performanceDataTwo
      if (this.model === 'perf' && this.level === 'levelThree') return this.performanceDataThree
      if (this.model === 'perf' && this.level === 'levelFour') return this.performanceDataFour
      if (this.model === 'perf' && this.level === 'levelFive') return this.performanceDataFive
      return this.proficiencyData
    }
  }
}
</script>
