// primary-color: #2C5875;
// primarylight-color: #196073;
// secondary-color: #29605F;
// link-color: #7B335A;
// info-color: #55CADD;
// infolight-color: #65C3EC;
// success-color: #C5E156;
// danger-color: #7B335A;
// dangerlight-color: #FF8284;
// warning-color: #F7C24D;
// warninglight-color: #FAD663;
// light-color: #FCFCFC;
// dark-color: #333;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set initial variables


// Set your colors
$primary: #2C5875; // $blue; //#8c67ef;
$primary-invert: findColorInvert($primary);
$secondary: #29605F;
$secondary-invert: findColorInvert($secondary);
$link: #7B335A;
$link-invert: findColorInvert($link);
$info: #55CADD;
$info-invert: findColorInvert($info);
$success: #C5E156;
$success-invert: findColorInvert($success);
$danger:#7B335A;
$danger-invert: findColorInvert($danger);
$warning:#F7C24D;
$warning-invert: findColorInvert($warning);
$light: #FCFCFC;
$light-invert:findColorInvert($light);
$dark: #333;
$dark-invert:findColorInvert($dark);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ( "white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "secondary": ($secondary, $secondary-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert), "twitter": ($twitter, $twitter-invert));
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";