<template>
  <div>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="~static/images/mde-logo-color.svg" width="80" alt="Buefy">
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <h1 class="subtitle">
              2017-2018
            </h1>
          </div>
          <b-dropdown v-model="navigation" position="is-bottom-left">
            <a slot="trigger" class="navbar-item">
              <span>
                Menu
              </span>
              <b-icon icon="menu-down" />
            </a>
            <b-dropdown-item has-link>
              <a href="/">
                <b-icon icon="table-search" />
                Crosstab
              </a>
            </b-dropdown-item>
            <b-dropdown-item has-link>
              <a href="/ppedistrict">
                <b-icon icon="cash-usd" />
                PPE - District
              </a>
            </b-dropdown-item>
            <b-dropdown-item has-link>
              <a href="/ppeschool">
                <b-icon icon="cash-usd" />
                PPE - School
              </a>
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
    </nav>
    <nuxt />
  </div>
</template>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: 'Home',
          icon: 'home',
          to: { name: 'index' }
        },
        {
          title: 'Inspire',
          icon: 'lightbulb',
          to: { name: 'inspire' }
        }
      ]
    }
  }
}
</script>
