<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-6">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-64x64 has-background-info circle">
                    <div>
                      <h1 class="title is-1 has-text-dark">
                        C
                      </h1>
                    </div>
                  </figure>
                </div>
                <div class="media-content">
                  <h1 class="title is-1">
                    State of Mississippi
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column is-2">
              <figure class="image is-256x256">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </figure>
            </div>
            <div class="column is-3">
              <div class="columns is-multiline is-vcentered">
                <div class="column is-3">
                  <b-icon icon="map" size="is-medium" />
                </div>
                <div class="column is-9">
                  <h1 class="subtitle is-6">
                    359 N West St.<br>Jackson, MS 39211
                  </h1>
                </div>
                <div class="column is-3">
                  <b-icon icon="account-circle" size="is-medium" />
                </div>
                <div class="column is-9">
                  <h1 class="subtitle is-6">
                    Dr. Carey M. Wright
                  </h1>
                </div>
                <div class="column is-3">
                  <b-icon icon="file-pdf" size="is-medium" />
                </div>
                <div class="column is-9">
                  <h1 class="subtitle is-6">
                    Download Report Card Summary
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <cross-tab />
      </div>
    </section>
  </div>
</template>

<script>
import CrossTab from '@/components/CrossTab.vue'

export default {
  components: {
    CrossTab
  },
  layout: 'light'
}
</script>

<style>
.circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 250983px;
}
</style>
