<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-7 has-text-centered">
              <h1 class="subtitle is-3">
                Northwest Rankin School District
              </h1>
              <h1 class="title is-1">
                Per-Pupil Expenditure
              </h1>
              <p>
                The Per Pupil Expenditure Report is defined by the Every Student Succeeds Act as
                expenditures of Federal, State, and Local funds for each local district and school
                in the State. Funding used in the calculation includes Title Funds, Special
                Education Funds, General Funds, and State Funds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <nav class="breadcrumb has-bullet-separator is-medium has-shadow" aria-label="breadcrumbs">
        <div class="container">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Mississippi
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Northwest Rankin School District
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="section">
      <div class="container">
        <div class="columns is-centered is-multiline">
          <div class="column is-12">
            <b-table :data="data" :columns="columns" />
          </div>
          <div class="column is-6">
            <b-message title="Exclusions" closable="false" type="is-info" has-icon>
              <h1 class="title is-1">
                $18,002,993
              </h1>
              <h6 class="subtitle is-7">
                *Funding that is not included in this calculation includes Child Nutrition Funds, Debt Service Funds and Capitol Project Funds.
              </h6>
            </b-message>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  components: {},
  layout: 'light',
  data() {
    return {
      data: [
        { 'type': 'High School', 'schoolName': 'Northwest Rankin High School', 'enrollment': '458', 'totalPpe': '$7,201.43' },
        { 'type': 'Middle School', 'schoolName': 'Northwest Rankin Middle School', 'enrollment': '389', 'totalPpe': '$7,552.18' },
        { 'type': 'Elementary', 'schoolName': 'Oakdale Elementary', 'enrollment': '657', 'totalPpe': '$8,854.55' },
        { 'type': 'Middle', 'schoolName': 'Flowood Middle', 'enrollment': '329', 'totalPpe': '$8,748.72' },
        { 'type': 'Elementary', 'schoolName': 'Vine Street Elementary', 'enrollment': '987', 'totalPpe': '$9,058.35' }
      ],
      columns: [
        {
          field: 'type',
          label: 'School Type'
        },
        {
          field: 'schoolName',
          label: 'Name'
        },
        {
          field: 'enrollment',
          label: 'Enrollment',
          centered: true
        },
        {
          field: 'totalPpe',
          label: 'Total PPE'
        }
      ]
    }
  }
}
</script>

<style>
.circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 250983px;
}
</style>
