<template>
  <div>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-7 has-text-centered">
              <h1 class="subtitle is-3">
                Oakdale Elementary School
              </h1>
              <h1 class="title is-1">
                Per-Pupil Expenditure
              </h1>
              <p>
                The Per Pupil Expenditure Report is defined by the Every Student Succeeds Act as
                expenditures of Federal, State, and Local funds for each local district and school
                in the State. Funding used in the calculation includes Title Funds, Special
                Education Funds, General Funds, and State Funds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <nav class="breadcrumb has-bullet-separator is-medium has-shadow" aria-label="breadcrumbs">
        <div class="container">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Mississippi
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Northwest Rankin School District
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Oakdale Elementary School
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <section class="section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h1 class="title">
              Total PPE for Oakdale
            </h1>
            <h1 class="subtitle is-6">
              We can put text here that has an explaination
            </h1>
            <b-table :data="totalData" :columns="totalColumns" />
          </div>
        </div>
      </div>
    </section>
    <section class="section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h1 class="title">
              School Level Expense Per Pupil
            </h1>
            <h1 class="subtitle is-6">
              We can put text here that has an explaination
            </h1>
            <b-table :data="schoolData" :columns="expenditureColumns" />
          </div>
        </div>
      </div>
    </section>
    <section class="section is-light">
      <div class="container">
        <div class="columns">
          <div class="column is-6">
            <h1 class="title">
              District Level Expense Per Pupil
            </h1>
            <h1 class="subtitle is-6">
              We can put text here that has an explaination
            </h1>
            <b-table :data="districtData" :columns="expenditureColumns" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>

export default {
  components: {},
  layout: 'light',
  data() {
    return {
      totalData: [
        { 'name': 'Oakdale Elementary', 'enrollment': '458', 'totalPpe': '$7,201.43' }
      ],
      schoolData: [
        { 'stateLocal': '$2,158', 'federal': '$1,248', 'total': '$3,406' }
      ],
      districtData: [
        { 'stateLocal': '$1,234', 'federal': '$2,158', 'total': '$3,234' }
      ],
      data: [
        { 'type': 'High School', 'schoolName': 'Northwest Rankin High School', 'enrollment': '458', 'totalPpe': '$7,201.43' },
        { 'type': 'Middle School', 'schoolName': 'Northwest Rankin Middle School', 'enrollment': '389', 'totalPpe': '$7,552.18' },
        { 'type': 'Elementary', 'schoolName': 'Oakdale Elementary', 'enrollment': '657', 'totalPpe': '$8,854.55' },
        { 'type': 'Middle', 'schoolName': 'Flowood Middle', 'enrollment': '329', 'totalPpe': '$8,748.72' },
        { 'type': 'Elementary', 'schoolName': 'Vine Street Elementary', 'enrollment': '987', 'totalPpe': '$9,058.35' }
      ],
      totalColumns: [
        {
          field: 'name',
          label: 'School'
        },
        {
          field: 'enrollment',
          label: 'Enrollment'
        },
        {
          field: 'totalPpe',
          label: 'Total PPE'
        }
      ],
      expenditureColumns: [
        {
          field: 'stateLocal',
          label: 'State/Local Funds'
        },
        {
          field: 'federal',
          label: 'Federal Funds'
        },
        {
          field: 'total',
          label: 'Total School Level Funding',
          centered: true
        }
      ]
    }
  }
}
</script>

<style>
.circle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 250983px;
}
</style>
